body {
    margin: 0;
    background-color: #a929cb;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12.5px;
    line-height: 1.6;
    color: #575756;
}
*,
*:after, 
*:before {
    box-sizing: border-box;
}
/* Container */
.container {
width: 100%;
max-width: 1200px;
margin: 0 auto;
}

/* Intro */

.hipe {
    width: 100%;
    height: 100vh;
    
    background: url(../images/intro.jpg) center
    no-repeat;
    -webkit-background-size: cover; 
    background-size: cover;
}