body {
    margin: 0;
    background-color: #a929cb;
    font-family: 'Merriweather', serif;

    font-size: 12.5px;
    line-height: 2;
    color: rgb(100, 162, 255);
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

/* Headers */
.header {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.head {
    font-family: 'Merriweather', serif;
    font-weight: 800;
    font-size: 25px;
    opacity: 100%;
    margin-left: 50px;


}

.head_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navi {
    font-style: 124px;

}

.navi_link {
    display: inline-block;
    text-decoration: none;
    color: rgb(100, 162, 255);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 10px;
    position: relative;
    vertical-align: top;
    transition: color 0.4s linear;

}

.navi_link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    display: none;
    background-color: #a929cb;



    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.navi_link:hover {
    color: #a929cb;
}

.navi_link:hover:after {
    display: block;



}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
}



/* Intro */

.hipe {
    width: 100%;
    height: 100vh;

    background: url(../images/intro.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

/* Middle */
.mid {
    font-family: 'Merriweather', serif;
    color: #fff;

    font-size: 22px;
    opacity: 100%;
    width: 100%;
    max-width: 1200px;
    position: absolute;
    left: 20%;
    top: 30%;

}