body {
    margin: 0;
    background-color: #a929cb;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12.5px;
    line-height: 2;
    color: #fff;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

/* Headers */
.header {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.head {
    font-family: 'Bangers';
    font-weight: 800;
    font-size: 30px;

}

.head_nav {
    display: flex;
    justify-content: space-between;

}

.navi {
    font-style: 124px;

}

.navi_link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 15px;

    margin: 0;
    position: relative;
    vertical-align: top;
    transition: color .2 linear;
}

.navi_link::after {
    content: "";
    display:block;
    width: 100%;
    height: 2px;
    display: none;

    background-color: #fff;

    position:absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}
.navi_link:hover
{
    color: #a929cb;
}
.navi_link:hover:after
{
    display: block;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;

}

/* Intro */

.hipe {
    width: 100%;
    height: 100vh;

    background: url(../images/intro.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}